.InputWrapper {
    position: relative;
}

.readonly {
    opacity: 0.7;
}

.InputWrapper label {
    position: absolute;
    margin: 0 5px;
    left: 0;
    top: 44%;
    transform: translateY(-15%);
    z-index: -1;
    background: var(--dark-bg-redesigned);
    padding: 0 2px;
    color: var(--primary-color);
    transition: 0.2s;
}

.InputWrapper input {
    margin-top: 10px;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
    font: var(--font-m);
    color: var(--primary-color);
}

.InputWrapper input:focus {
    outline: none;
}

.InputWrapper input:focus + label,
.InputWrapper input:not(:placeholder-shown) + label {
    top: 0;
    font: var(--font-m);
    z-index: 1;
}
