.popup {
    position: relative;
}

.menu {
    border-radius: 18px;
    border: 1px solid var(--accent-redesigned);
    overflow: hidden;
}

.trigger {
    outline-color: transparent;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.disabled {
    opacity: 0.7;
}

.active {
    background: var(--light-bg-redesigned);
}

.selected {
    background: var(--light-bg-redesigned);
}
