.app_dark_theme {
    --bg-color: #0a174e;
    --inverted-bg-color: #f5d042;
    --primary-color: #f5d042;
    --secondary-color: #f7cd28;
    --inverted-primary-color: #0a174e;
    --inverted-secondary-color: #1d2a68;

    // skeleton
    --skeleton-shadow: #5167c9;
    --skeleton-color: #050e3b;
}

// .app_dark_theme {
//     --bg-color: #090949;
//     --inverted-bg-color: #e8e8ea;
//     --primary-color: #049604;
//     --secondary-color: #04ff04;
//     --inverted-primary-color: #0232c2;
//     --inverted-secondary-color: #0449e0;
// }
