.app_light_theme {
    --bg-color: #f5d042;
    --inverted-bg-color: #0a174e;
    --primary-color: #0a174e;
    --secondary-color: #1d2a68;
    --inverted-primary-color: #f5d042;
    --inverted-secondary-color: #f7cd28;

    // skeleton
    --skeleton-shadow: #a7870b;
    --skeleton-color: #d1b236;

    // code
    --code-bg: #f7e084;

    // card
    --card-bg: #f3d767;
}

// .app_light_theme {
//     --bg-color: #e8e8ea;
//     --inverted-bg-color: #090949;
//     --primary-color: #0232c2;
//     --secondary-color: #0449e0;
//     --inverted-primary-color: #049604;
//     --inverted-secondary-color: #04ff04;
// }
