.app_pink_theme {
    --bg-color: #df6589;
    --inverted-bg-color: #3c1053;
    --primary-color: #3c1053;
    --secondary-color: #851033;
    --inverted-primary-color: #3c1053;
    --inverted-secondary-color: #df6589;

    // skeleton
    --skeleton-shadow: #9e3b59;
    --skeleton-color: #b44869;

    // code
    --code-bg: #f5a3bc;
}
