.app_pink_theme {
    --bg-color: #df6589;
    --inverted-bg-color: #3c1053;
    --primary-color: #3c1053;
    --secondary-color: #851033;
    --inverted-primary-color: #3c1053;
    --inverted-secondary-color: #df6589;

    // redesigned - orange
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-shadow: #9e3b59;
    --skeleton-color: #b44869;

    // code
    --code-bg: #f5a3bc;

    // card
    --card-bg: #f188a8;
}
