.app_pink_theme {
    --bg-color: #df6589;
    --inverted-bg-color: #3c1053;
    --primary-color: #3c1053;
    --secondary-color: #df6589;
    --inverted-primary-color: #df6589;
    --inverted-secondary-color: #df6589;
}
